  .buttons-excel{
      background-color: #fff !important;
      margin: 2px;
      max-width: 150px;
      color: black;
      border: solid 1px green;
  }

  .buttons-excel:hover{
    color: black
  }

  .eight h1 {
    color: #003399;
    font-weight: 600;
    text-align:center; 
    text-transform:uppercase;
    font-size:14px; letter-spacing:1px;  
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
  }

  .eight h1:after,.eight h1:before {
   content: "";
   display: block;
   border-bottom: 2px solid #ccc;
   background-color:#f8f8f8; 
  }

  .subt h2:after,.subt h2:before {
   content: "";
   display: block;
   border-bottom: 2px solid #ccc;
   text-align: center;
  }

  .log{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .log-div{
    border-radius: 8px;
  }

  .style_th{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: center
  }

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

html{
  margin-top: 2;
  margin-left: 8px;
  margin-right:8px; 
  margin-bottom: 0;
}
body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
aside{
  font-size:14px;
}
.stilot1{
  border: 1px solid black;
  padding: 2.5px;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;

}

.table3 tr td {
text-align: center;
border: 1px solid black;
}

.table2 {
  margin-top: 5px;
  border-collapse: collapse;
  text-transform: uppercase;
}
.encabezado{
  font-size: 12px;
  background: #E8E8E8;
}

.table3{
  width: 100%;
  text-transform: uppercase;
  border-collapse: separate;
  border-collapse: collapse;
  border-spacing: 10px 5px;
  border: 1px solid black;
}

.subt tr th {
  border-collapse: separate;
  border-spacing: 10px 5px;
  border: 1px solid black;
  font-size:13px;
  width:100%;
  font-family: Helvetica, Arial, sans-serif;
}

.clase_table {
  border: 1px solid #0275d8;
  border-radius: 5px;
  -moz-border-radius: 20px;
  padding: 2px;
}


#tanModal{
  max-width: 75% !important;
}

#headModal{
  background-color: black;
  color: white;
  text-align: center;
}

.input-dark{
  border: solid 1px black;
  border-radius: 0px;
}

.input-dark{
  border: solid 1px black;
}

/* ESTILOS DETALLE ORDEN*/
.dtOrden1{
  font-size: 12px;
  text-align: left
  border: 1px solid blue;
  padding: 2.5px;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
}

  #table-det-lentes{
  font-family: "Avenir Next", Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 13px;
  border-radius: 2px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  margin-left: 0px
}

#table-det-lentes td{
  padding: 4px;
  margin-left: 6px
  margin: 1em;
 }

 .data-det-orden{
  margin: 0 0 0.5em 0;
  color: #30353c;
 }

 .btn-save {
  width: 340px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px #989898;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;justify-content:center
  }

.btn-save:hover {
  background-color: #212534;
  box-shadow: 0px 15px 20px #989898;
  color: #fff;
  transform: translateY(-7px);
}

 .btn-save-row-sm {
  width: 240px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;justify-content:center
  }

.btn-save-row-sm:hover {
  background-color: #d4d4d4;
  color: black;
  transform: translateY(-7px);
}

 .btn-save-row-sm-r {
  width: 240px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;justify-content:center
  }

.btn-save-row-sm-r:hover {
  background-color: #ccf1db;
  color: green;
  transform: translateY(-7px);
}

.accion_orden_actual{
  height: 35px;
  width: 150px;
  margin:5px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px #989898;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

   }
    #tabla_reportes {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      font-size: 11px;
      text-align:center;
      text-transform: uppercase;
    }

    #tabla_reportes td, #tabla_reportes th {
      border: 1px solid #ddd;
      padding: 3px;
    }

    #tabla_reportes tr:nth-child(even){background-color: #f2f2f2;}

    #tabla_reportes tr:hover {background-color: #ddd;}

    #tabla_reportes th {
      padding-top: 3px;
      padding-bottom: 3px;
      text-align: center;
      background-color: #4c5f70;
      color: white;
    }
  </style>

